.message-card {
border-radius: 5px;
border: 1px solid rgba(51, 51, 51, 0.05);
display: flex;
align-items: center;
gap: 11px;
align-self: stretch;
padding: 9px;
background: #FFF;
font-family: lexend deca;
box-shadow: 0 3px 9.4px 0 rgba(0, 0, 0, 0.06);
}

.message-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content {
  display: flex;
margin: 0px;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-name {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
}

.message-time {
  font-size: 12px;
  margin: 0px;
  color: #888;
}

.message-title {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.message-text {
  font-size: 13px;
  color: #555;
  margin: 0px;
}

.message-status {

display: flex;
padding: 4px 10px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 12px;

}

.messagestatus{display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;}