.Messagedrop{
border-radius: 16.4px;
border: 0.8px solid #FFF;

background: #FFF;
  position: sticky;
  top: 0;      /* or any offset you want */
 color: #62748E;

text-align: center;
font-family: "Lexend Deca";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
  z-index: 10;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
height: 100vh;

display: flex;
width: 60%;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
flex-shrink: 0;
}