.dashboard-card{
display: flex;
height: 36px;
padding: 6px;
align-items: center;
gap: 10px;

color: rgba(30, 30, 30, 0.59);


font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 7px;
padding-left: 12px;
align-self: stretch;}
.dashboard-title{
    color: rgba(30, 30, 30, 0.59);


font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}