.dashboard-cardd{
display: flex;
height: 36px;
padding: 6px;
align-items: center;
gap: 10px;

color: rgba(30, 30, 30, 0.59);


font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 7px;
border-radius: 7px;
padding-left: 12px;
background: rgba(219, 92, 130, 0.15);
align-self: stretch;}
.dashboard-titlee{
color: #8A1E3E;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}