
.stats-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 190px;
  max-width: 340px;
}

.stats-card-title {
color: var(--main-font-color-for-dashboard, #0F172B);
font-family: "Lexend Deca";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.stats-card-value {

align-self: stretch;

color: var(--main-font-color-for-dashboard, #0F172B);
font-family: "Lexend Deca";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.stats-card-change {
color: #00B69B;
display: flex;
flex-direction: row;
font-family: "Lexend Deca";
font-size: 14px;
font-style: normal;
width: fit-content;
font-weight: 400;
line-height: normal;
}
.rowwww{
  display: flex;
 
flex-direction: row;
}
.red{
 color: #F93C65;
display: flex;
flex-direction: row;
font-family: "Lexend Deca";
font-size: 14px;
font-style: normal;
font-weight: 400;

line-height: normal;
}
.stats-card-icon-box {

  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-card-icon-box img {

  aspect-ratio: 1/1;

height: 100px;

  object-fit: contain;
}