.search-container {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 10px;
  width: 220px;
border-radius: 6px;
background: rgb(241, 241, 241);
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 6px;
background: rgb(241, 241, 241);
color: rgba(30, 30, 30, 0.62);

font-family: lexend deca;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.search-icon {
  width: 16px;
  height: 16px;
  fill: #666;
}
.Page-title{
    color: #111;

font-family: "Lexend Deca";
font-size: 28px;
font-style: normal;
font-weight: 700;
margin: 0px;
line-height: normal;
}
.Page-caption{
    color: var(--subtext-300, #5A5A5A);
font-family: "Lexend Deca";
font-size: 12px;
font-style: normal;
margin: 0px;
font-weight: 400;
line-height: 16px; /* 133.333% */
}
.titles{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
}
.icons{
    display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}
.Farright{
    display: flex;
align-items: center;
gap: 35px;
}
.Pagetitle{
    display: flex;

justify-content: space-between;
align-items: center;
align-self: stretch;
width: 98%;
padding-left: 1%;
padding-right: 1%;
padding-top: 30px;
background: #FFF;
padding-bottom: 24px;
}