.ttle {
  color: #FFF;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 400;
}

.input-container {
  display: flex;
  align-items: center;
  width: 97%;
  background: #FFF;
  border: 1px solid rgba(138, 30, 62, 0.34);
  border-radius: 5px;
  padding: 0 12px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  color: rgba(30, 30, 30, 0.53);
  font-family: "Lexend Deca";
  font-size: 14px;
  background: transparent;
  padding: 12px 0;
}

.section {
  width: 100%;
}

.section-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-left: 8px;
}
